
.crypto-block {
    padding: 5px 15px;
    margin: 5px 5px;
    width: stretch;
}

.page-header {
    height: 25%;
    padding-top: 20%;
}

.footer-card {
    border-style: none;
    border-width: 0px;
}

.container {
    padding-top : 5%;
}

